psycopg2-binary
pgvector
fastapi
uvicorn
transformers
sentence-transformers
accelerate
python-dotenv
google-genai
pandas
langchain
langchain-community
langchain-text-splitters
langchain-experimental
PyJWT
bcrypt
python-multipart
pytest
